python-dotenv
langchain
langchain_community
pypdf
bs4
beautifulsoup4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
requests
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_groq
streamlit
langserve
sse_starlette
langchain-chroma
arxiv 
wikipedia
tiktoken